@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark blue rotated rounded square */
.rotate-dark-blue {
  transform: rotate(45deg);
  top: -100px;
  left: -100px;
}

/* Light blue rotated rounded square */
.rotate-light-blue {
  transform: rotate(45deg);
  top: -50px;
  left: -50px;
}
